{% extends "quotes/base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Add Quote</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fullname" class="form-label">Author</label>
            <select class="form-select" id="author" name="author" required>
                <option selected disabled>Select an author</option>
                {% for author in authors %}
                <option value="{{ author.id }}">{{ author.fullname }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="quote" class="form-label">Quote</label>
            <textarea class="form-control" id="quote" name="quote" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">Tags</label>
            <select class="form-select" id="tags" name="tags" multiple required>
                {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}
